<ion-header>
  <ion-toolbar>
    <ion-title>DC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-align-items-center" class="row">
    <ion-col size="12" class="ion-text-center">
      <ion-button
        shape="default"
        expand="full"
        size="large"
        (click)="asignarHeroe('batman')"
      >
          <div style="position:absolute; left:-1%">Batman</div>
          <img
            src="../../assets/dc/1.png"
            alt=""
            height="100%"
            style="position:absolute;right:-10%"
          />
      </ion-button>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button
        shape="default"
        expand="full"
        size="large"
        (click)="asignarHeroe('superman')"
      >
          <div style="position:absolute; left:-1%">Superman</div>
          <img
            src="../../assets/dc/2.png"
            alt=""
            height="100%"
            style="position:absolute;right:-10%"
          />
      </ion-button>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button
        shape="default"
        expand="full"
        size="large"
        (click)="asignarHeroe('Flash')"
      >
          <div style="position:absolute; left:-1%">Flash</div>
          <img
            src="../../assets/dc/3.png"
            alt=""
            height="100%"
            style="position:absolute;right:-10%"
          />
      </ion-button>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button
        shape="default"
        expand="full"
        size="large"
        (click)="asignarHeroe('acuaman')"
      >
          <div style="position:absolute; left:-1%">Acuaman</div>
          <img
            src="../../assets/dc/4.png"
            alt=""
            height="100%"
            style="position:absolute;right:-10%"
          />
      </ion-button>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button
        shape="default"
        expand="full"
        size="large"
        (click)="asignarHeroe('mujerMaravilla')"
      >
          <div style="position:absolute; left:-1%;text-align: left;">Mujer <br> Maravilla</div>
          <img
            src="../../assets/dc/5.png"
            alt=""
            height="100%"
            style="position:absolute;right:-10%"
          />
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>