<ion-header>
  <ion-toolbar>
    <ion-title>MARVEL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center" class="row">
      <ion-col size="12" class="ion-text-center">
        <ion-button
          shape="default"
          expand="full"
          size="large"
          (click)="asignarHeroe('ironMan')"
        >
            <div style="position:absolute; left:-1%">Iron Man</div>
            <img
              src="../../assets/marvel/1.png"
              alt=""
              height="100%"
              style="position:absolute;right:-10%"
            />
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          shape="default"
          expand="full"
          size="large"
          (click)="asignarHeroe('capitanAmerica')"
        >
            <div style="position:absolute; left:-1%;text-align: left;">Capitan <br> America</div>
            <img
              src="../../assets/marvel/2.png"
              alt=""
              height="100%"
              style="position:absolute;right:-10%"
            />
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          shape="default"
          expand="full"
          size="large"
          (click)="asignarHeroe('thor')"
        >
            <div style="position:absolute; left:-1%">Thor</div>
            <img
              src="../../assets/marvel/3.png"
              alt=""
              height="100%"
              style="position:absolute;right:-10%"
            />
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          shape="default"
          expand="full"
          size="large"
          (click)="asignarHeroe('spiderman')"
        >
            <div style="position:absolute; left:-1%">Spiderman</div>
            <img
              src="../../assets/marvel/4.png"
              alt=""
              height="100%"
              style="position:absolute;right:-10%"
            />
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          shape="default"
          expand="full"
          size="large"
          (click)="asignarHeroe('vision')"
        >
            <div style="position:absolute; left:-1%;text-align: left;">Vision</div>
            <img
              src="../../assets/marvel/5.png"
              alt=""
              height="100%"
              style="position:absolute;right:-10%"
            />
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>